%Hero {
	min-height: calc(100vh - 66px);
	background: url("../../../assets/images/defaultBcg.jpg") center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.defaultHero {

	@extend %Hero;

}

.roomsHero {

	@extend %Hero;
	background-image: url("../../../assets//images/room-2.jpeg");
	min-height: 60vh;
}