$primaryColor: #af9a7d;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;
$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

// Pixels to Rems Mixin

@mixin fontSize($sizeValue: 1.6) {  // 1rem = 10px , 1.6rem = 16px
    
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
    
}

//Desktop-first Media Query Mixin
@mixin forSmallScreens($media) {
    
    @media (max-width: $media/16+em) { @content; }
}

.rooms-filter {

	padding: 50px 0;

}

.rooms-filter-center {
	width: 80%;
	margin: 0 auto;

	.form-controls {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;

		& li {
			padding: 0 15px;
			@include fontSize(1.6);
			letter-spacing: $mainSpacing;
			list-style-type: none;
			text-align: center;
			
		}

	}

}

.control {
	margin-top: 10px;
	@include fontSize(1.4);
	
}

.round {
	border-radius: 5px;
	height: 25px;
}

.center {
	text-align: center;
}

.hsep {
	margin-right: 5px;
}

.checks {
	text-align: left;
}

.vsep {
	margin-top: 10px;
	margin-right: 10px;
}




